### List_Practice_Sayli

#### 1. Check if a list contains an element

In [1]:
l1=[1,2,3,'sk','sayli','sanket']
str1=input()
if str1 in l1:
    print('True')
else:
    print('False')

sayli
True

#### 2. Reverse a given list in Python

In [2]:
a = range(1,10)
a=(list(a))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
b=a[::-1] ## reverse using list indexing
b

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
a.reverse() ## reverse using reverse() function
a

[9, 8, 7, 6, 5, 4, 3, 2, 1]

#### 3. Concatenate two lists

In [5]:
c = [i + j for i, j in zip(a,b)] ## using zip function on list
c

[18, 16, 14, 12, 10, 8, 6, 4, 2]

In [6]:
c = [ a[x] + b[x] for x in range (len (a))]   ###using Comprehension List
c

[18, 16, 14, 12, 10, 8, 6, 4, 2]

In [7]:
from operator import add
c = list( map (add, a, b)) ###using map function and add operator
c

[18, 16, 14, 12, 10, 8, 6, 4, 2]

In [8]:
l1 = ["Hello ", "take "]
l2 = ["Dear", "Sir"]
l3=[x+y for x in l1 for y in l2]
l3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

#### 4. Turn every item of a list into its square

In [9]:
square_ls=[x*x for x in b] ### using for loop 
square_ls

[81, 64, 49, 36, 25, 16, 9, 4, 1]

In [10]:
square_ls = [lambda x : x * x,b] ### using lambda function
square_ls

[<function __main__.<lambda>(x)>, [9, 8, 7, 6, 5, 4, 3, 2, 1]]

#### 5. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

In [11]:
l1 = ["Hello ", "take "]
l2 = ["Dear", "Sir"]
for x, y in zip(l1, l2[::-1]):
    print(x, y)

Hello  Sir
take  Dear

#### 6. Remove empty strings from the list of strings

In [12]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
resList = list(filter(None, list1)) ### Using filter function
resList

['Mike', 'Emma', 'Kelly', 'Brad']

#### 7. Add value to list

In [13]:
ls = [12,13,15, "sumit", [1,2,3], True] ## add 4 after 3
ls[4].append(4)
ls

[12, 13, 15, 'sumit', [1, 2, 3, 4], True]

In [14]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"] ### add ["h", "i", "j"] after g
list1[2][1][2].extend(["h", "i", "j"])
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

#### 8. Replace the value in list

In [15]:
l1 = range(10,100,10) ###Create a list
l1=(list(l1))
l1

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [16]:
####replace 40 with 45
idx=l1.index(40)
l1[idx]=45
l1

[10, 20, 30, 45, 50, 60, 70, 80, 90]

#### 9. Remove value

In [17]:
list1 = [5, 20, 15, 20, 25, 50, 20]

def removeValue(sampleList, val):
   return [value for value in sampleList if value != val]
resList = removeValue(list1, 20)
print(resList)

[5, 15, 25, 50]

#### Some operations on list

#### Program to sum all items in list

In [18]:
nums = [1234, 1522, 1984, 19372, 1000, 2342, 7626]
value=3000
result = [i for i,val in enumerate(nums) if val > value]
result

[3, 6]

#### Check first number of every element is same

In [19]:
nums = [2234, 122, 1984, 19372, 100]
result = all(str(x)[0] == str(nums[0])[0] for x in nums)
result

False

#### add adjacent members of a given list

In [20]:
a=['1','2','3','4','5','6','7','8']
result=[x+y for x,y in zip(a[::2],a[1::2])]
result

['12', '34', '56', '78']

#### find index of none value

In [21]:
a1=[1, None, 5, 4, None, 0, None, None]
result = [i for i,val in enumerate(a1) if val == None]
result

[1, 4, 6, 7]

#### check if a given string contains an element

In [22]:
str1 = "https://www.w3resource.com/python-exercises/list/"
lst = ['.com', '.edu', '.tv']   
result = [el for el in lst if(el in str1)] 
result

['.com']

#### pair up the consecutive elements of a given list

In [23]:
a1 =  [1,2,3,4,5,6]
result=[[a1[x],a1[x+1]] for x in range(len(a1)-1)]
result

[[1, 2], [2, 3], [3, 4], [4, 5], [5, 6]]

#### compare two given lists and find the indices of the values present in both list

In [24]:
n1 = [1, 2, 3, 4, 5 ,6]
n2 = [7, 8, 5, 2, 10, 12]
result = [i for i,val in enumerate(n1) if val in n2]
result

[1, 4]